* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    scroll-behavior: smooth;
    font-size: 14px;
}

body {
    background-color: rgb(52, 101, 112);
    color: rgb(236, 187, 159);
    font-family: 'Lato', sans-serif;
}

header {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
}

.bg {
    background-color: rgb(180, 91, 39);
    border-radius: 10px;
}

section,
footer,
header {
     padding: 2rem;
}

section {
    scroll-margin-top: 100px;
}

h1 {
    font-size: 32px;
}

h2 {
    margin-bottom: 20px;
}

p {
    margin: 0.5rem 0;
}
 
header li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    padding: 0.7rem;
    color: rgb(236, 187, 159);
    display: block;
}

ul li a:hover {
    text-decoration: underline orange;
    text-underline-offset: 0.5em;
}

#modal {
    padding: 2rem;
}

.btn {
    border: none;
    border-radius: 7px;
    box-shadow: none;
    padding: 0.7rem 0.7rem;
    background-color: rgb(180, 91, 39);
    color: rgb(236, 187, 159);
    font-family: inherit;
    font-size: inherit;
}

.btn:hover {
    background-color: rgb(236, 187, 159);
    color: rgb(180, 91, 39);
    cursor: pointer;
}

#backToTop {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: none;
    cursor: pointer;
}

#dontclick {
    cursor: pointer;
}

.mobile {
    display: none;
    background-color: transparent;
    box-shadow: none;
    border: none; 
    color: rgb(236, 187, 159);
    cursor: pointer;
}

.modal {
    background-color: rgb(52, 101, 112, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.visible {
    display: flex;
}

.modal-content {
    background-color: rgb(237, 194, 171);
    color: rgb(180, 91, 39);
    margin: 3rem;
    padding: 3rem;
    border-radius: 10px;
    max-width: 600px;
    position: relative;
}

#xButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: none;
    border-radius: 7px;
    box-shadow: none;
    padding: 0.7rem 0.7rem;
    background-color: rgb(180, 91, 39);
    color: rgb(236, 187, 159);
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

#xButton:hover {
    background-color: rgb(217, 156, 124);
}

@media (max-width:700px) {
    body {
        background-color: rgb(52, 101, 112);
    }
    nav ul {
        display: none;
    }
    .mobile {
        display: block;
    }
    .btn {
        padding: 0.5rem 0.5rem;
        font-size: 0.85rem;
    }
    ul.responsive {
        display: block;
        background-color: rgb(180, 91, 39);
        color: rgb(236, 187, 159);
        position: absolute;
        margin: 1.5rem 0;
        border-radius: 10px;
        left: 0;
        top: 70px;
        width: 100%;
    }
    ul.responsive li {
        display: block;
        margin: 1rem;
    }
    ul.responsive li a:hover {
        background-color: rgb(236, 187, 159);
        color: rgb(180, 91, 39);
        border-radius: 5px;
        width: 40%;
    }
}



